body {
    background-color: light-grey;
    font-family: Arial, Helvetica, sans-serif;
}

#controls {
    text-align: center;
}

#country {
    width: 50%;
}

#lookup {
    background-color: light-blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#lookup:hover {
    background-color: blue;
    cursor: pointer;
}

#result {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}