body {
    background-color: light-grey;
    font-family: Arial, Helvetica, sans-serif;
}

#controls {
    text-align: center;
}

#country {
    width: 50%;
}

#lookup:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

#lookup_cities:hover {
    background-color: dodgerblue;
    cursor: pointer;
}


#result {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}